* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  color: #CDD6F4;
}

body { 
  background-color: #181825;
}

header {
  padding: 10px 20px;
  display: flex;align-items: center;
  justify-content: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 100px;
  margin-top: 50px;
}

.flex-box {
  display: flex;
}


.img-container > img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.left-container {
  text-align: center;
  padding: 20px 60px;
  padding-bottom: 240px;

}

.right-container {
  padding: 20px 60px;
  max-width: 600px;
}

.right-container > h1 {
  text-align: center;
  padding: 20px 0px;
}

.right-container > p {
  font-size: larger;
  text-align: justify;
}

.list-container {
  justify-content: start;
  align-items: start;
  margin-top: 20px;
}
.list-container div > ul {
  padding-left: 30px;
  padding-top: 10px;
}
.list-container div > ul > li {
  padding-bottom: 10px;
}

#list-one {
  width: calc(600px - 50%);
}

li {
  font-size: large;
}

.span-text {
  font-weight: lighter;
  color: #75819C;
}
section {
  text-align: center;
}